<ion-content
  [scrollEvents]="true"
  parallaxContent="../../../assets/milkMed.jpg"
  [parallaxHeight]="500">
    <diV *ngIf="isLoading">Loading</diV>
    <div class="hex-grid-container" *ngIf="!loading">
      <ul
        id="hexGrid"
        >
          <li *ngFor="let project of projects" class="hex">
            <div class="hexIn">
            <div class="hexLink">
              <img src={{project.mainImageOfProject}} alt="" />
              <h1>{{ project.contstructMainTitle() }}
              </h1>
                <p *ngIf="isGerman">{{ project.textShortener(0,80, project.germanDescription, true) }}</p>
                <p *ngIf="!isGerman">{{ project.textShortener(0,80, project.englishDescription, true) }}</p>
            </div>
            </div>
          </li>
        </ul>
     </div>
</ion-content>
