.email-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

.close-modal {
    padding-left: 100%;
    margin-top: -1rem;
    z-index: 100;
}

.email-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    box-shadow: 0px 11px 13px -5px rgba(0, 0, 0, 0.84);
    -webkit-box-shadow: 0px 11px 13px -5px rgba(0, 0, 0, 0.84);
    -moz-box-shadow: 0px 11px 13px -5px rgba(0, 0, 0, 0.84);
    text-align: center;
    background-color: var(--var-color_darkgray);
    border-radius: 0.3rem;
    z-index: 100 !important;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-group input,
textarea {
    color: black;
    width: 18rem;
    line-height: 1.2rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
    box-shadow: 0px 11px 13px -5px rgba(0, 0, 0, 0.84);
    -webkit-box-shadow: 0px 11px 13px -5px rgba(0, 0, 0, 0.84);
    -moz-box-shadow: 0px 11px 13px -5px rgba(0, 0, 0, 0.84);
}
.form-group label {
    margin: 0.5rem;
}

.form-group textarea {
    height: 8rem;
}
.email-button {
    margin-top: 2rem;
    width: 8rem;
    line-height: 2rem;
    background-color: var(--var-color_black);
    color: var(--var-color_white);
    border-radius: 0.3rem;
    box-shadow: 0px 11px 13px -5px rgba(0, 0, 0, 0.84);
    -webkit-box-shadow: 0px 11px 13px -5px rgba(0, 0, 0, 0.84);
    -moz-box-shadow: 0px 11px 13px -5px rgba(0, 0, 0, 0.84);
}
.email-button:active {
    box-shadow: 0px 0px 27px -5px rgba(128, 128, 128, 0.84) inset;
    -webkit-box-shadow: 0px 0px 27px -5px rgba(128, 128, 128, 0.84) inset;
    -moz-box-shadow: 0px 0px 27px -5px rgba(128, 128, 128, 0.84) inset;
}
@media screen and (max-width: 780px) and (orientation: landscape) {
    .email-card-container {
        margin: 0rem 0.5rem;
        max-height: 100vh;
    }
    .email-button {
        margin-top: 1rem;
        width: 8rem;
        line-height: 2rem;
    }
    .close-modal {
        margin-top: -0.5rem;
    }
    .form-group textarea {
        height: 6rem;
    }
}
@media screen and(max-width: 500px) {
    .email-container {
        margin-top: 4rem;
    }

    .close-modal {
        padding-left: 100%;
        z-index: 100;
    }

    .email-card-container {
        margin: 4rem 0.5rem;
        padding: 1.5rem;
        box-shadow: 0px 11px 13px -5px rgba(0, 0, 0, 0.84);
        -webkit-box-shadow: 0px 11px 13px -5px rgba(0, 0, 0, 0.84);
        -moz-box-shadow: 0px 11px 13px -5px rgba(0, 0, 0, 0.84);
        text-align: center;
        background-color: var(--var-color_darkgray);
        border-radius: 0.3rem;
        z-index: 100 !important;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form-group input,
    textarea {
        color: black;
        width: 18rem;
        line-height: 1.2rem;
        padding: 0.3rem;
        border-radius: 0.3rem;
        box-shadow: 0px 11px 13px -5px rgba(0, 0, 0, 0.84);
        -webkit-box-shadow: 0px 11px 13px -5px rgba(0, 0, 0, 0.84);
        -moz-box-shadow: 0px 11px 13px -5px rgba(0, 0, 0, 0.84);
    }
    .form-group label {
        margin: 0.5rem;
    }

    .form-group textarea {
        height: 8rem;
    }
    .email-button {
        margin-top: 2rem;
        width: 8rem;
        line-height: 2rem;
        background-color: var(--var-color_black);
        color: var(--var-color_white);
        border-radius: 0.3rem;
        box-shadow: 0px 11px 13px -5px rgba(0, 0, 0, 0.84);
        -webkit-box-shadow: 0px 11px 13px -5px rgba(0, 0, 0, 0.84);
        -moz-box-shadow: 0px 11px 13px -5px rgba(0, 0, 0, 0.84);
    }
    .email-button:active {
        box-shadow: 0px 0px 27px -5px rgba(128, 128, 128, 0.84) inset;
        -webkit-box-shadow: 0px 0px 27px -5px rgba(128, 128, 128, 0.84) inset;
        -moz-box-shadow: 0px 0px 27px -5px rgba(128, 128, 128, 0.84) inset;
    }
}
