<mat-progress-bar
  *ngIf="isLoading"
  mode="indeterminate"
  color="warn"
  value="40"
  class="progress-bar"
></mat-progress-bar>
 <a id="top" style="height: 0;"></a>
  <div *ngIf="projects$ | async as projects" class="center-container projects-main-container">
      <ul 
        class="no-list-style"
        *ngIf="!isLoading"
        @fadeSlide
        (@fadeSlide.start)="toggleFlag = true"
        (@fadeSlide.done)="toggleFlag = false">
          <li *ngFor="let project of projects"  class="item flex-container-col">
            <app-project-component 
            [project]="project"          
            [isGerman]="isGerman"></app-project-component>
          </li>
        </ul>
  </div>