 <ion-card color="dark"
    @fade>
     <ion-img class="project-header-image" src="../../../assets/milkMed.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ project.titleOne }} <span *ngIf="project.titleTwo">{{ project.titleTwo }}</span></ion-card-title>
      <ion-card-subtitle>
        <div class="badge-container">
             <div *ngFor="let singleBadge of project.projectBadges">
                <ion-badge color={{getBadgeColor(singleBadge)}} class="jusify-center-all flex-container-col badge">
                    <ion-icon name={{getBadgeLogo(singleBadge)}} color="dark" title={{getBadgeLogo(singleBadge)}} size="large">{{getBadgeLogo(singleBadge)}}</ion-icon>
                </ion-badge>
            </div>
        </div>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <ion-accordion-group>
        <ion-accordion value="first">
            <ion-item slot="header">
              <ion-label *ngIf="isGerman">Erfahre mehr</ion-label>
              <ion-label *ngIf="!isGerman">Explore more</ion-label>
            </ion-item>
            <div slot="content">
                <div *ngIf="isGerman">       
                    <p>{{ project.germanDescription }}</p>
                    <p>{{ project.germanUsedTechnology }}</p>
                </div>
                <div *ngIf="!isGerman">       
                    <p>{{ project.englishDescription }}</p>
                    <p>{{ project.englishUsedTechnology }}</p>
                </div>
           
            </div>
        </ion-accordion>
    </ion-accordion-group>
  </ion-card-content> 
  </ion-card>



