<mat-progress-bar
    *ngIf="loading"
    mode="indeterminate"
    color="warn"
    value="40"
    class="progress-bar"
></mat-progress-bar>
<div class="main-container">
    <div class="inner-container" *ngIf="!loading">
        <ul
            *ngFor="let project of projects; index as index"
            id="animated-headline"
            class="header1"
            #headline
            class="example-card"
            appObserveElement
            #intersection="intersection"
            [class.example-card--is-intersecting]="intersection._isIntersecting"
            (isIntersecting)="animateHeadline($event, index)"
            [isContinuous]="true"
            style="padding: 18rem"
        >
            <h2>
                <span id="animated-span">
                    {{ project.titleOne }}
                </span>
            </h2>
            <div *ngIf="isGerman">       
                <p>{{ project.germanDescription }}</p>
                <p>{{ project.germanUsedTechnology }}</p>
            </div>
            <div *ngIf="!isGerman">       
                <p>{{ project.englishDescription }}</p>
                <p>{{ project.englishUsedTechnology }}</p>
            </div>
        </ul>
    </div>
</div>
