<div class="main-header-container">
    <h1 class="main-header">PD</h1>
</div>

<div *ngIf="!isMobile" class="nav-desktop-container">
    <!-- The following menu items will be hidden on both SM and XS screen sizes -->
    <a routerLink="/">About</a>
    <a routerLink="/">Email</a>
    <a routerLink="/">Home</a>
    <a routerLink="/">Contact</a>
    <a routerLink="/project">Projects</a>
</div>

<div *ngIf="isMobile" class="nav-mobile-container">
    <!-- <div class="burger">
        <p (click)="openNavigation()" *ngIf="!navigationIsOpen">Show</p>
        <p (click)="closeNavigation()" *ngIf="navigationIsOpen">Close</p>
    </div> -->
    <div class="nav-links-mobile">
        <a routerLink="/" class="mobile1">home</a>
        <a routerLink="/" class="mobile2">About</a>
        <a routerLink="/" class="mobile3">Contact</a>
        <a routerLink="/" class="mobile4">Email</a>
        <a routerLink="/project" class="mobile5">Projects</a>
    </div>
</div>
