<div>
    <div
        class="nav-desktop-container"
        [class.active1]="navigationIsOpen"
    >
    <div class="main-header">
        <a id="navigate-to-main" routerLink="" class="no-text-decoration main-header">PD</a>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
    </div>
    <div class="navigation-links-container" *ngIf="!isMobile">
        <a  id="routerLink"
            class="no-text-decoration desktop{{link.id}} link"
            *ngFor="let link of navigationLinks; let i = index"
            routerLink="{{ link.link }}"
            title="{{link.title}}"
            ><span class="inner-link">{{ link.title }}</span></a
        >
        <a (click)="openEmailModal()" id="routerLink" class="no-text-decoration desktop5 link" title="E-Mail">
            <span class="inner-link">E-Mail</span>
        </a>
    </div>
</div>

<!-- mobile view -->

<ion-fab slot="fixed" vertical="top" horizontal="end" *ngIf="isMobile" id="nav-fab-button">
    <ion-fab-button color="dark">
        <ion-icon name="menu"></ion-icon>
      </ion-fab-button>
    <ion-fab-list side="bottom">
         <ion-fab-button *ngFor="let link of navigationLinks; let i = index" class="mobile{{ link.id }}" (click)="openRoute(link.link)">
            <div
                class="mobile-navigation-button"
                ><ion-icon
                    size="{{ link.iconSize }}"
                    name="{{ link.iconName }}"
                    src="{{ link.iconSrc }}"
                ></ion-icon
            ></div>
        </ion-fab-button>
        <ion-fab-button class="mobile5">
            <a (click)="openEmailModal()" class="mobile-navigation-button">
                <ion-icon
                    size="small"
                    name="paper-plane-outline"
                    src="../../../assets/paper-plane-outline.svg"
                ></ion-icon>
            </a>
        </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
