<div>
      <div>
      <span>Responsive Navigation</span>
  
      <span class="example-spacer"></span>
  
      <div *ngIf="!isMobile">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a routerLink="*" >About</a>
        <a routerLink="*" class="nav-links">Contact</a>
        <a routerLink="/Projects" class="nav-links">Projects</a>
      </div>


      <div *ngIf="isMobile">
        <div class="burger">
          <p (click)="openNavigation()" *ngIf="!navigationIsOpen">Show</p>
          <p (click)="closeNavigation()" *ngIf="navigationIsOpen">Close</p>
        </div>
        <ul class="nav-links" *ngIf="navigationIsOpen">
          <li><a routerLink="/" (click)="closeNavigation()">About</a></li>
          <li><a routerLink="/" (click)="closeNavigation()">Contact</a></li>
          <li><a routerLink="/project" (click)="closeNavigation()">Projects</a></li>
        </ul>
      </div>
    </div>
  </div> 